* {
  box-sizing: border-box;
}
body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f4f4f4;
  color: #333;
}

header {
  background-color: #007;
  color: #fff;
  padding: 20px;
  text-align: center;
}

/* NAV CONTAINER */
.nav-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #11b71c;
  padding: 10px 20px;
}

/* LOGO */
.logo {
  color: white;
  font-weight: bold;
}

/* MENU DEFAULT (DESKTOP) */
#nav-menu {
  display: flex;
  list-style: none;
  gap: 15px;
  transition: all 0.3s ease;
}

/* LINK */
#nav-menu li a {
  color: white;
  text-decoration: none;
  font-weight: bold;
}

/* HAMBURGER */
.menu-toggle {
  display: none;
  font-size: 24px;
  color: white;
  cursor: pointer;
}

/* 📱 MOBILE */
@media (max-width: 768px) {

  .menu-toggle {
    display: block;
  }

  #nav-menu {
    position: absolute;
    top: 60px;
    left: 0;
    width: 100%;
    background: #11b71c;
    flex-direction: column;
    align-items: center;

    display: none; /* sembunyi */
  }

  #nav-menu.active {
    display: flex; /* muncul saat diklik */
  }

  #nav-menu li {
    padding: 10px 0;
  }
}

/* TABLE RESPONSIVE */
table {
  width: 100%;
  border-collapse: collapse;
}

section {
  padding: 20px;
  max-width: 1000px; /* biar lebih fleksibel */
  margin: 20px auto;
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

/* PROJECT GRID */
.project {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
  gap: 15px;
}

/* CARD */
.card {
  background: #fff;
  padding: 10px;
  border-radius: 10px;
  text-align: center;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
  transition: 0.3s;
}

@keyframes fadeIn {
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.card:hover {
  transform: translateY(-5px);
}

/* IMAGE */
.card img {
  width: 100%;
  height: 180px;
  object-fit: contain;
  background: #111; /* perbaiki typo */
}

img {
  width: 100%;
  max-width: 300px;
  border-radius: 5px;
}

/* RESPONSIVE MOBILE */
@media (max-width: 768px) {
  header h1 {
    font-size: 20px;
  }

  nav ul {
    justify-content: flex-start;
  }

  section {
    margin: 10px;
    padding: 15px;
  }
}

/* EXTRA KECIL */
@media (max-width: 480px) {
  nav ul li a {
    font-size: 12px;
    padding: 6px 8px;
  }

  .card img {
    height: 150px;
  }
}

/*footer*/
footer {
  background-color: #007;
  color: #fff;
  text-align: center;
  padding: 10px;
  position: flex;
  width: 100%;
  bottom: 0;
}
